
<ion-content class="img font-app" padding>
  <ion-item>
    <ion-label fixed>Filter:</ion-label>
    <ion-input type="text" placeholder="Destination Zip Code"></ion-input>
  </ion-item>
  <div *ngFor="let item of orderList$ | async">
    <!--<h5>{{ item.shop.shop_name}}</h5>-->
    <div *ngIf="item.status == 'active'">

      <div text-center>
        <ion-item>
          <p text-center class="font-16">{{ item.shop.shop_name}}</p>
          <ion-row>
            <ion-col width-50>
              <p text-left class="font-16">Earn ${{ item.reward}}</p>
            </ion-col>
            <ion-col width-50>
              <p text-right class="font-16">Budget ${{ item.cost}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-50>
              <button ion-button outline block color="primary" (click)="offerNow(item.products, item.shop.shop_name, item.cost, item.reward)">View</button>
            </ion-col>
            <ion-col width-50>
              <button ion-button outline block color="primary" (click)="offerNow()">Offer</button>
            </ion-col>

          </ion-row>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>