page-login {
.img{
   // background: -webkit-linear-gradient(#6cf, #09c);
      background: #fafafa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

}
