<ion-header color="light">

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="font-app img" padding>
  <div class="text-center">
    <img src="../assets/img/logo.png" alt="">
  </div>

  <div class="text-center">
    <button ion-button color="fb" round outline class="no-padding">
 <ion-icon class="pull-left fa fa-facebook"  style="color: white;
    background: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 23px;"></ion-icon>
  <span color="dark" padding style="font-size: 13.75px;
    font-weight: bold;">Log In With Facebook</span></button>

    <button ion-button color="google" round outline class="no-padding">
 <ion-icon class="pull-left fa fa-google-plus"  style="color: white;
    background: #da4e3d;
    border: 1px solid #da4e3d;
    border-radius: 15px;
  height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 23px;"></ion-icon>
  <span padding color="dark" class=" font-13">Log In With Google</span>  </button>


    <button ion-button color="twitter" round outline class="no-padding">
 <ion-icon class="pull-left fa fa-twitter"  style="color: white;
    background: #31cbfd;
    border: 1px solid #31cbfd;
    border-radius: 15px;
     height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 23px;"></ion-icon>
  <span padding color="dark" class=" font-13">Log In With Twitter</span>  </button>
  </div>

  <div class="text-center">
    <h1 style="margin-top:20px">Log In</h1>
    <form [formGroup]="loginForm" style="background: transparent" color="form">

      <!--<ion-item color="form">
        <ion-input text-center type="text" placeholder="Username"></ion-input>
      </ion-item>-->
      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="email" text-center type="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid email.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="password" text-center type="password" placeholder="Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid password.</p>
      </div>


      <button ion-button color="dark" round outline class="font-13" (click)="login()">Log In</button>

    </form>

    <button ion-button  clear>Forgot your password?</button>
    <button ion-button clear (click)="goToSignup()">New User? Sign Up here</button>
  </div>

</ion-content>