


<ion-content class="img font-app" padding>

        <p text-center class="font-16">Delivery Address</p>
        <ion-grid class="no-padding">
    <ion-row>
      <ion-col width-33>
    <button ion-button outline block color="light" >View</button>
      </ion-col>
      <ion-col width-33>
    <button ion-button outline block color="light">Message</button>
      </ion-col>
         <ion-col width-33>
    <button ion-button outline block color="light">Confirm</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
