/*$sentico-sans-path: $font-path !default;

@font-face {
  font-family: "kitabjam-regular";
  font-style: normal;
  font-weight: 400;
  src: local("GothamRounded-Medium"), url("#{$sentico-sans-path}/GothamRounded-Medium.ttf") format("truetype");
}

$font-family-base: "kitabjam-regular", sans-serif !default;*/