
<ion-content class="img font-app" padding>

  <div class="text-center">
    <form style="background: transparent"  [formGroup]="orderForm">

      <div formArrayName="products">
        <div *ngFor="let product of orderForm.controls.products.controls; let i = index">
          <!--<span ion-text color="dark">Product {{i + 1}}</span>-->
          <span *ngIf="orderForm.controls.products.controls.length > 1">
            <button ion-button clear icon-right color="dark" (click)="removeProduct(i)">Product {{i + 1}}<ion-icon name="close"></ion-icon></button>
          </span>

          <div [formGroupName]="i">

            <ion-item style="color: #020202" color="form">
              <ion-input text-center type="text" placeholder="Describe Product" formControlName="product" 
                [class.invalid]="!orderForm.controls.products.controls[i].controls.product.valid
                 && (orderForm.controls.products.controls[i].controls.product.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item style="color: #020202" *ngIf="!orderForm.controls.products.controls[i].controls.product.valid
             && (orderForm.controls.products.controls[i].controls.product.dirty || submitAttempt)">
              <p style="color: #ea6153">Please enter product description.</p>
            </ion-item>

          </div>
        </div>
      </div>


      <button ion-button block clear icon-left color="dark" (click)="addProduct()">
        <ion-icon name="add"></ion-icon>
        Add another product
      </button>
      <ion-item style="color: #020202" color="form">
        <ion-input #autocomplete id="autocomplete" (focus)="geolocate()" (blur)="getPlaceDetails()"
          text-center type="search" placeholder="Shop Name" formControlName="ShopName" [class.invalid]="!orderForm.controls.ShopName.valid && (orderForm.controls.ShopName.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item style="color: #020202" color="form" *ngIf="!orderForm.controls.ShopName.valid  && (orderForm.controls.ShopName.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a shop name.</p>
      </ion-item>
      <ion-item style="color: #020202" color="form">
        <ion-input text-center type="number" placeholder="Estimated Cost Of Product" formControlName="cost" [class.invalid]="!orderForm.controls.cost.valid && (orderForm.controls.cost.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item style="color: #020202" color="form" *ngIf="!orderForm.controls.cost.valid  && (orderForm.controls.cost.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter the cost.</p>
      </ion-item>

    </form>

  </div>

  <!--<div class="circle" >
  <ion-icon class="fa fa-arrow-right font-24"style="line-height: 70px;
    padding-left: 24px;
" color="dark" (click)="proceed()" ></ion-icon>
</div>-->

  <ion-fab right bottom>

    <button ion-fab color="dark" (click)="proceed()"><ion-icon name="arrow-forward"></ion-icon></button>

  </ion-fab>


</ion-content>