page-ordering-form {
.img{
      // background: -webkit-linear-gradient(#6cf, #09c);
      background: #fafafa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.circle {
position: absolute;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 40px;
}
}
