


<ion-content class="img font-app" padding>
  <div text-center>
      <img src="assets/img/demo.png" style="border-radius: 100px;">
      <p text-center class="font-16">Username</p>
    </div>

    <div class="margin-top-lg">

<button ion-button full clear color="light">Addresses</button>
<button ion-button full  clear color="light">Notifications</button>
<button ion-button full  clear color="light">Payments</button>
<button ion-button full  clear color="light">FAQs and Contact</button>
<button ion-button full  clear color="light">Sign Out</button>
    </div>
</ion-content>
