<ion-header>

  <ion-navbar>
    <ion-title>Enter Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>

  <div class="text-center">
    <form style="background: transparent" color="form" [formGroup]="orderForm">

      <ion-item style="color: #020202" color="form">
        <ion-input #addressAutocomplete id="addressAutocomplete" (focus)="geolocate()" (blur)="getPlaceDetails()" text-center type="search"
          placeholder="Delivery Address" formControlName="address" [class.invalid]="!orderForm.controls.address.valid && (orderForm.controls.address.dirty || submitAttempt)">
          </ion-input>
      </ion-item>
      <ion-item color="form" *ngIf="!orderForm.controls.address.valid  && (orderForm.controls.address.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter delivery address.</p>
      </ion-item>

      <form [formGroup]="deliveryTimeType">
        <div radio-group formControlName="deliveryTimeType">
          <ion-grid>
            <ion-row>
              <ion-item style="color: #020202" color="form">
                <ion-label>Between now and {{orderForm.value.anyTime}}</ion-label>
                <ion-radio (ionSelect)="radioSelect($event)" item-left value="anyTime" checked></ion-radio>
              </ion-item>
              <ion-item style="color: #020202" color="form" [formGroup]="orderForm">
                <ion-label>Select Time</ion-label>
                <ion-datetime formControlName="anyTime" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item style="color: #020202" color="form">
                <ion-label>Between {{orderForm.value.betweenTimeOne}} and {{orderForm.value.betweenTimeTwo}}
                </ion-label>
                <ion-radio (ionSelect)="radioSelect($event)" item-left value="specificTime"></ion-radio>
              </ion-item>
              <ion-item style="color: #020202" color="form" [formGroup]="orderForm">
                <ion-label>Select Time</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="betweenTimeOne"></ion-datetime>
              </ion-item>
              <ion-item style="color: #020202" color="form" [formGroup]="orderForm">
                <ion-label>Select Time</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="betweenTimeTwo"></ion-datetime>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>
      </form>

      <ion-item style="color: #020202" color="form">
        <ion-label>Delivery Time</ion-label>
        <ion-datetime placeholder="Delivery Time" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts" formControlName="time"
          [class.invalid]="!orderForm.controls.time.valid && (orderForm.controls.time.dirty || submitAttempt)"></ion-datetime>
      </ion-item>
      <ion-item color="form" *ngIf="!orderForm.controls.time.valid  && (orderForm.controls.time.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter delivery time.</p>
      </ion-item>
      <ion-item style="color: #020202" color="form">
        <ion-input text-center type="number" placeholder="Rewards" formControlName="reward" [class.invalid]="!orderForm.controls.reward.valid && (orderForm.controls.reward.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item color="form" *ngIf="!orderForm.controls.reward.valid  && (orderForm.controls.reward.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter reward points.</p>
      </ion-item>

    </form>

  </div>

  <button ion-button block color="form" (click)="addOrder()">Place Order</button>

</ion-content>