<ion-header>

  <ion-navbar>
    <ion-title>Offer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>

  <div text-center>
    <ion-item>
      <p text-center class="font-16">{{shopName}}</p>
      <ion-row>
        <ion-col width-50>
          <p text-left class="font-16">Earn ${{reward}}</p>
        </ion-col>
        <ion-col width-50>
          <p text-right class="font-16">Budget ${{cost}}</p>
        </ion-col>
      </ion-row>
      <div *ngFor="let product of products; let i = index">
        <p text-left class="font-16">{{product.product}}</p>
      </div>

      <p text-center class="font-16">Delivery Time 6AM</p>
      <ion-row>
        <ion-col width-50>
          <button ion-button outline block color="primary">Report</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button outline block color="primary">Offer</button>
        </ion-col>

      </ion-row>
    </ion-item>
  </div>
</ion-content>