<ion-header>

  <ion-navbar>
    <ion-title>Edit Order</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Order
    </ion-list-header>
    <ion-item>
      <ion-label fixed>Cost</ion-label>
      <ion-input [(ngModel)]="cost"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Reward</ion-label>
      <ion-input [(ngModel)]=reward></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Delivery time</ion-label>
      <ion-input [(ngModel)]=time></ion-input>
    </ion-item>
    <ion-list-header>
      Delivery address
    </ion-list-header>

    <ion-item>
      <ion-label fixed>Address</ion-label>
      <ion-input [(ngModel)]=delivery_address></ion-input>
    </ion-item>

    <ion-list-header>
      Shop
    </ion-list-header>

    <ion-item>
      <ion-label fixed>Address</ion-label>
      <ion-input [(ngModel)]=shopName></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label fixed>Address</ion-label>
      <ion-input [(ngModel)]="{{item.shop.address}}"></ion-input>
    </ion-item>-->
    <div *ngFor="let item of items">


      <ion-list-header>
        Products
      </ion-list-header>

      <ion-item *ngFor="let product of item.products; let i = index">
        <ion-label fixed>product {{i + 1}}</ion-label>
        <ion-input value="{{product.product}}"></ion-input>
      </ion-item>


    </div>
  </ion-list>
</ion-content>