
<ion-content class="img font-app" padding>
  <ion-item>
    <ion-label fixed>Filter:</ion-label>
    <ion-input type="text" placeholder="Last Week"></ion-input>
  </ion-item>
  <div *ngFor="let item of userOrders$ | async">

    <div text-center>
      <ion-item>
        <ion-row>
          <ion-col width-50>
            <p text-center class="font-16">{{ item.shop.shop_name}}</p>
          </ion-col>
          <ion-col width-50>
            <p text-center class="font-16">2hr</p>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col width-50>
            <button ion-button outline block color="primary" (click)="editOrder(item.uid)">Edit</button>
          </ion-col>
          <ion-col width-50>
            <button ion-button outline block color="primary" (click)="deleteOrder(item.uid)">Delete</button>
          </ion-col>

        </ion-row>
      </ion-item>
    </div>
  </div>
</ion-content>