<ion-header color="light">

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>

  <div class="text-center">
    <img src="../assets/img/logo.png" alt="">
  </div>

  <div class="text-center">
    <h1  style="margin-top:20px">Log In</h1>
    <form [formGroup]="signupForm" >

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="userName" text-center type="text" placeholder="Username"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.userName.valid  && (signupForm.controls.userName.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid name.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="address" text-center type="text" placeholder="Address"></ion-input>
      </ion-item>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="email" text-center type="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid email.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="password" text-center type="password" placeholder="Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid password.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="confirmPassword" text-center type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="signupForm.value.confirmPassword !== signupForm.value.password && signupForm.value.password">
        <p style="color: #ea6153">Password does not match.</p>
      </div>

    </form>
    <button ion-button color="dark" round outline class="font-13 margin-top-lg" (click)="signup()">Sign Up</button>
  </div>
</ion-content>