<form [formGroup]="deliveryTimeType">
    <div radio-group formControlName="deliveryTimeType">
        <ion-grid>
            <ion-row>
                <ion-item color="form">
                    <ion-label>Between now and {{currentDateTime | date:'shortTime'}}</ion-label>
                    <ion-radio item-left checked value="anyTime"></ion-radio>
                </ion-item>
                <ion-item color="form" [formGroup]="orderForm">
                    <ion-datetime [disabled]="timmingType !== 'anyTime'" formControlName="anyTime"></ion-datetime>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item color="form">
                    <ion-label>Between {{orderForm.value.betweenTimeOne | date:'shortTime'}} and {{orderForm.value.betweenTimeTwo |
                        date:'shortTime'}}
                    </ion-label>
                    <ion-radio item-left value="specificTime"></ion-radio>
                </ion-item>
                <form [formGroup]="orderForm">
                    <ion-item color="form">

                        <ion-datetime [disabled]="timmingType !== 'specificTime'" formControlName="betweenTimeOne"></ion-datetime>
                    </ion-item>
                    <ion-item color="form">
                        <ion-datetime [disabled]="timmingType !== 'specificTime'" formControlName="betweenTimeTwo"></ion-datetime>
                    </ion-item>
                </form>
            </ion-row>
        </ion-grid>
    </div>
</form>